@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@font-face {
    font-family: "Rubik";
    src: url("~font/Rubik-VariableFont_wght.ttf");
    font-weight: 100;
    font-style: normal;
  }
